
.divimg > img{
    height: 100vh;
 
}
.cardoflogin{
padding: 40px;
position: relative;
box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.blogin{
    width: 200px;
    text-transform: capitalize;
}
h1{
    text-transform: capitalize;
    color: rgb(32, 32, 32);
margin:  20px  0;
font-style: italic;
 
    font-family: 'Raleway', sans-serif;
   
}
i{color: black;}
.arrowback{
    position: absolute;
    top: 10%;
    left:10%;
    color: rgb(32, 32, 32);
    font-size: 20px;
    
pad: 10px;
cursor: pointer;

}