<div class="row g-0">
  <div class="  divimg col-md-6 d-none d-sm-block"> 
       <img src="assets/firstimage.webp"  class="img-fluid" alt=""></div>
  <div class="  col-md-6 col-12">
    <div class="cardoflogin m-2 mt-4 ">
      <div class="arrowback" routerLink="/login" ><button mat-stroked-button><i class="fa-solid fa-arrow-left"></i></button></div>
   
      <H1>register page</H1>
    <form [formGroup]="userForm">
      <div class="mb-3">
        <div class="example-container">
          <mat-form-field appearance="fill">
            <mat-label>Enter your email</mat-label>
            <input  matInput placeholder="pat@example.com" formControlName="email" required>
        
          </mat-form-field>
        </div></div>

        
        <div class="mb-3">
          
          <div class="example-container">
            <mat-form-field appearance="fill">
              <mat-label>Enter your password</mat-label>
              <input formControlName="password" type="password" matInput placeholder="*****"  required>
              
            </mat-form-field>
            </div>
        </div>
        <div class="mb-3">
          <div class="example-container">
            <mat-form-field appearance="fill">
              <mat-label>Enter your password</mat-label>
              <input formControlName="confirmpassword" type="password" matInput placeholder="*****"  required>
              
            </mat-form-field>
            </div>
        </div>
     
        <button mat-raised-button routerLink="/home" [disabled]="userForm.invalid  || (userForm.value.password !== userForm.value.confirmpassword) "  (click)="submit()" class="blogin m-3" >submit</button>

      </form>

    </div>





