<div class="conatainer">
  


    <div class="row g-0">
      
      
  <div class=" divimg col-md-6  ">

    <img src="assets/firstimage.webp"  class="img-fluid" alt="">
    
      </div>
      
      <div class="col-md-6 col-12  text-center">
        <div class="cardoflogin  mt-5 m-2">
          <H1>login page</H1>
        <div class="example-container">
          <mat-form-field appearance="fill">
            <mat-label>Enter your email</mat-label>
            <input  matInput placeholder="pat@example.com" [formControl]="email" required>
            <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
          </mat-form-field>
        </div>
        
        <div class="example-container">
          <mat-form-field appearance="fill">
            <mat-label>Enter your password</mat-label>
            <input type="password" matInput placeholder="*****" [formControl]="password" required>
            <mat-error *ngIf="password.invalid">{{getErrorMessage()}}</mat-error>
          </mat-form-field>
          
   
        </div>
        <button mat-raised-button routerLink="/home"  class="blogin m-3" >login</button><br>
        <button mat-stroked-button color="primary"routerLink="/register" >register</button>
      
  
   
      </div>
    


</div>


