


.form-control.ng-touched.ng-invalid{
    border-left: 5px solid red;
}
.form-control.ng-valid{
    border-left: 5px solid green;  
}
.example-container mat-form-field + mat-form-field {
    margin-left: 8px;
  }
.divimg > img{
    height: 90vh;
}
.cardoflogin{
padding: 60px;

box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.blogin{
    width: 200px;
    text-transform: capitalize;
}
h1{
    text-transform: capitalize;
    color: rgb(32, 32, 32);
margin:  20px  0;
font-style: italic;
 
    font-family: 'Raleway', sans-serif;
   
}
.mat-mdc-radio-button ~ .mat-mdc-radio-button {
    margin-left: 0;
  }
 
  form{
    text-align: center;
    
  }