/* You can add global styles to this file, and also import other style files */


body { 
    overflow-x: hidden;
    padding: 0;
box-sizing: border-box;
    margin: 0; font-family: 'Kalam', cursive;
    font-family: 'La Belle Aurore', cursive;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;}
