
  <div class="container-md container-fluid">

<div class="row  justify-content-center">
    <div class="col-md-8 col-12  mt-4">
        <button class="m-3" mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
            {{!isLinear ? 'Creat your exam' : 'Now'}}
          </button>
          <mat-horizontal-stepper [selectedIndex]="stepperindex" linear #stepper>
            <mat-step [completed]="startadd" >
              <form [formGroup]="firstFormGroup">
                <ng-template matStepLabel>Fill out your language</ng-template>
             
             <div class="d-flex mt-2">
               
                <mat-form-field color="primary" class="example-full-width">
                    <mat-label>language :  </mat-label>
                    <input [formControl]="name" type="text" matInput placeholder="enter name of language" >
                
                
                </mat-form-field>

            </div>

                <div>

                  <button mat-raised-button   invvalid=""  (click)="start()" matStepperNext>Next</button>
                </div>
              </form>
            </mat-step>
            <mat-step [completed]="preview"  label="questions in : {{subjectname}}">
              <form  [formGroup]="questionform" >
                <div class="d-flex mt-2">
                   
                    <mat-form-field color="primary" class="example-full-width">
                        <mat-label>question </mat-label>
                        <input formControlName="question" matInput  value="enter question ">
                    
                    
                    </mat-form-field>
    
                </div>
    <div class="inputesquestion">
        <div>
            <mat-radio-button color="primary" (change)="getcorrect($event)" value="answer1"></mat-radio-button>
                          <mat-form-field   appearance="fill">
                            <mat-label>answer A</mat-label>
                            <input formControlName="answer1" class="example-form" matInput placeholder="Ex. Pizza" value="Sushi">
                        </mat-form-field>
        
                    </div>
        <div>
        <mat-radio-button color="primary" (change)="getcorrect($event)" value="answer2"></mat-radio-button>
                      <mat-form-field   appearance="fill">
                        <mat-label>answer B</mat-label>
                        <input formControlName="answer2" class="example-form" matInput placeholder="Ex. Pizza" value="Sushi">
                    </mat-form-field>
    
                </div>
                <div>
                    <mat-radio-button color="primary"(change)="getcorrect($event)" value="answer3"></mat-radio-button>
                      <mat-form-field   appearance="fill">
                        <mat-label>answer C</mat-label>
                        <input formControlName="answer3" class="example-form" matInput placeholder="Ex. Pizza" value="Sushi">
                    </mat-form-field>
                </div>
                <div>
    
                    <mat-radio-button color="primary" (change)="getcorrect($event)" value="answer4"></mat-radio-button>
                    <mat-form-field   appearance="fill">
                        <mat-label>answer D</mat-label>
                        <input formControlName="answer4" class="example-form" matInput placeholder="Ex. Pizza" value="Sushi">
                    </mat-form-field></div>
                </div>
                <div class="buttons">
                  <button mat-raised-button   (click)="clearform()" >Clear</button>
                  <button mat-raised-button   (click)="cancle()" >Cancle</button>
                  <button mat-raised-button  [disabled]="questionform.invalid" (click)="creatquestion()"    >save</button>
                  <button mat-raised-button matStepperNext  (click)="next()"  >Continue</button>
                </div>
              </form>
            </mat-step>
            <mat-step>
              <ng-template matStepLabel>Done</ng-template>
              <div class="d-flex mt-2">
               
            </div>

 
            <ul *ngFor="let item of questions ; let index = index" >
              <h1 class="subjectname"><h4>langauge:</h4>{{subjectname}}</h1>
            <li><h4>the question:</h4>  <b>{{item.question}}</b></li>
             <li><h4>answer 1:</h4>  <b>{{item.answer1}}</b> </li>
             <li>  <h4>answer 2:</h4>  <b>{{item.answer2}}</b> </li>
             <li> <h4>answer 3:</h4> <b>{{item.answer3}} </b> </li>
             <li> <h4>answer 4:</h4>  <b>{{item.answer4}} </b> </li>
             <li  class="correctanswer" ><h4>the correct answer:</h4>  <b>{{item.correctanswer}}</b>
             </li>
             <button (click)="delete(index)"  class="btn btn-danger" >delete</button>
            </ul>
  
            
              <div>
                <button mat-raised-button matStepperPrevious>Back</button>
              
              </div>
            </mat-step>
          </mat-horizontal-stepper>

    </div>
</div>

  </div>
  


